{% extends 'bulklot/base.html' %}

{% block title %}申込詳細{% endblock %}

{% block contents %}

<h2>申込詳細</h2>

<p>申込日：{{ lotrequest.req_date | date:"Y/m/d(D) H:i:s" }}</p>
<p>種目：{{ lotrequest.get_sport_display }}</p>
<p>場所：{{ lotrequest.get_location_display }}</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">メンバー</th>
        <th scope="col">日時</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      {% for lotreqtime in lotreqtime_list %}
      <tr>
        <td>{{ lotreqtime.member }}</td>
        <td>{{ lotreqtime.date | date:"m/d(D)" }} {{ lotreqtime.get_time_display }}</td>
        <td id='{{ lotreqtime.id }}-status'>{{ lotreqtime.get_status_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<a href="{% url 'bulklot:lot_req_list' %}">一覧へ戻る</a>

{% endblock %}

