{% extends 'bulklot/base.html' %}

{% block title %}申込履歴{% endblock %}

{% block contents %}

<h2>申込履歴</h2>
<a href="{% url 'bulklot:lot_req_create' %}" class="btn btn-primary">新規抽選申込</a>
<a href="{% url 'bulklot:member_list' %}" class="btn btn-primary">メンバー</a>

<br><br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">申込日時</th>
            <th scope="col">種目</th>
            <th scope="col">場所</th>
        </tr>
    </thead>
    <tbody>
        {% for req in lotrequest_list %}
        <tr>
            <td>
                <a href="{% url 'bulklot:lot_req_detail' req.id %}">
                {{ req.req_date | date:"Y/m/d(D) H:i:s" }}</a>
            </td>
            <td>{{ req.get_sport_display }}</td>
            <td>{{ req.get_location_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'bulklot:index' %}">ホームへ戻る</a>

{% endblock %}
